<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->

<!--[if !IE]><!--> <html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- BEGIN SIDEBAR -->

<div class="page-sidebar nav-collapse collapse" th:fragment="sidebar">

    <!-- BEGIN SIDEBAR MENU -->

    <ul class="page-sidebar-menu">

        <li>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

            <div class="sidebar-toggler hidden-phone"></div>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

        </li>

        <li class="start ">

            <a href="index.html">

                <i class="icon-home"></i>

                <span class="title">管理首页</span>

            </a>

        </li>

        <li>

            <a class="active" th:href="@{/admin/news/list}">

                <i class="icon-bullhorn"></i>

                <span class="title">新闻管理</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li>

                    <a th:href="@{/admin/news/edit}">

                        添加新闻

                    </a>

                </li>

                <li>

                    <a th:href="@{/admin/news/list}">

                        新闻管理

                    </a>

                </li>

                <li>

                    <a th:href="@{/admin/news/class/list}">

                        新闻类别

                    </a>

                </li>

            </ul>

        </li>

        <li>

            <a class="active" th:href="@{/admin/article/list}">

                <i class="icon-book"></i>

                <span class="title">文章管理</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li>

                    <a th:href="@{/admin/article/edit}">

                        添加文章

                    </a>

                </li>

                <li>

                    <a th:href="@{/admin/article/list}">

                        文章管理

                    </a>

                </li>

                <li>

                    <a th:href="@{/admin/article/class/list}">

                        文章分类

                    </a>

                </li>

            </ul>

        </li>

        <li>

            <a th:href="@{/admin/slideshow/list}">

                <i class="icon-picture"></i>

                <span class="title">图片管理</span>

            </a>

        </li>

        <li>

            <a href="javascript:;">

                <i class="icon-cogs"></i>

                <span class="title">常规设置</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li>

                    <a href="javascript:;">

                        配置信息

                    </a>

                </li>

                <li>

                    <a href="javascript:;">

                        课程简介

                    </a>

                </li>

                <li>

                    <a href="#">

                        在线考试系统管理

                    </a>

                </li>

                <li>

                    <a href="#">

                        课程特色

                    </a>

                </li>

                <li>

                    <a href="#">

                        底部信息

                    </a>

                </li>

                <li>

                    <a href="#">

                        论坛管理

                    </a>

                </li>

            </ul>

            <ul class="sub-menu">

                <li>

                    <a href="javascript:;">

                        添加文章

                    </a>

                </li>

                <li>

                    <a href="javascript:;">

                        文章管理

                    </a>

                </li>

                <li>

                    <a href="#">

                        文章分类

                    </a>

                </li>

            </ul>

        </li>

    </ul>

    <!-- END SIDEBAR MENU -->

</div>

<!-- END SIDEBAR -->
</body>
</html>