<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <![endif]-->

<!--[if !IE]><!--> <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- BEGIN SIDEBAR -->

<div class="page-sidebar nav-collapse collapse" th:fragment="sidebar(pageType)">

    <!-- BEGIN SIDEBAR MENU -->

    <ul class="page-sidebar-menu">

        <li>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

            <div class="sidebar-toggler hidden-phone"></div>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

        </li>

        <li th:class="${pageType == 'index' ? 'start active' : 'start'}">

            <a th:href="@{/admin/}">

                <i class="icon-home"></i>

                <span class="title">管理首页</span>

                <span th:if="${pageType == 'index'}" class="selected"></span>

            </a>

        </li>

        <li sec:authorize="hasRole('ROLE_ADMIN')" th:class="${pageType == 'news' ? 'active open' : ''}">

            <a th:href="@{/admin/news/list}">

                <i class="icon-bullhorn"></i>

                <span class="title">新闻管理</span>

                <span th:if="${pageType == 'news'}" class="selected"></span>

                <span th:class="${pageType == 'news' ? 'arrow open' : 'arrow'}"></span>

            </a>

            <ul class="sub-menu" th:style="${pageType == 'news' ? 'display: block;' : ''}">

                <li>

                    <a th:href="@{/admin/news/edit}">

                        添加新闻

                    </a>

                </li>

                <li>

                    <a th:href="@{/admin/news/list}">

                        新闻管理

                    </a>

                </li>

                <li>

                    <a th:href="@{/admin/news/class/list}">

                        新闻类别

                    </a>

                </li>

            </ul>

        </li>

        <li sec:authorize="hasRole('ROLE_ADMIN')" th:class="${pageType == 'article' ? 'active open' : ''}">

            <a class="active" th:href="@{/admin/article/list}">

                <i class="icon-book"></i>

                <span class="title">文章管理</span>

                <span th:if="${pageType == 'article'}" class="selected"></span>

                <span th:class="${pageType == 'article' ? 'arrow open' : 'arrow'}"></span>

            </a>

            <ul class="sub-menu" th:style="${pageType == 'article' ? 'display: block;' : ''}">

                <li>

                    <a th:href="@{/admin/article/edit}">

                        添加文章

                    </a>

                </li>

                <li>

                    <a th:href="@{/admin/article/list}">

                        文章管理

                    </a>

                </li>

                <li>

                    <a th:href="@{/admin/article/class/list}">

                        文章分类

                    </a>

                </li>

            </ul>

        </li>

        <li sec:authorize="hasRole('ROLE_ADMIN') OR hasRole('ROLE_TEACHER')" th:class="${pageType == 'resource' ? 'active open' : ''}">

            <a class="active" th:href="@{/admin/resource/list}">

                <i class="icon-cloud"></i>

                <span class="title">资源管理</span>

                <span th:if="${pageType == 'resource'}" class="selected"></span>

                <span th:class="${pageType == 'resource' ? 'arrow open' : 'arrow'}"></span>

            </a>

            <ul class="sub-menu" th:style="${pageType == 'resource' ? 'display: block;' : ''}">

                <li>

                    <a th:href="@{/admin/resource/list}">

                        资源管理

                    </a>

                </li>

                <li>

                    <a th:href="@{/admin/resource/class/list}">

                        资源类别

                    </a>

                </li>

            </ul>

        </li>

        <li sec:authorize="hasRole('ROLE_ADMIN') OR hasRole('ROLE_TEACHER')" th:class="${pageType == 'homework' ? 'active open' : ''}">

            <a class="active" th:href="@{/admin/homework/list}">

                <i class="icon-tasks"></i>

                <span class="title">作业管理</span>

                <span th:if="${pageType == 'homework'}" class="selected"></span>

                <span th:class="${pageType == 'homework' ? 'arrow open' : 'arrow'}"></span>

            </a>

            <ul class="sub-menu" th:style="${pageType == 'homework' ? 'display: block;' : ''}">

                <li>

                    <a th:href="@{/admin/homework/edit}">

                        添加作业

                    </a>

                </li>

                <li>

                    <a th:href="@{/admin/homework/list}">

                        作业管理

                    </a>

                </li>

            </ul>

        </li>

        <li sec:authorize="hasRole('ROLE_ADMIN')" th:class="${pageType == 'link' ? 'active open' : ''}">

            <a class="active" th:href="@{/admin/link/list}">

                <i class="icon-map-marker"></i>

                <span class="title">链接管理</span>

                <span th:if="${pageType == 'link'}" class="selected"></span>

                <span th:class="${pageType == 'link' ? 'arrow open' : 'arrow'}"></span>

            </a>

            <ul class="sub-menu" th:style="${pageType == 'link' ? 'display: block;' : ''}">

                <li>

                    <a th:href="@{/admin/link/edit}">

                        添加链接

                    </a>

                </li>

                <li>

                    <a th:href="@{/admin/link/list}">

                        链接管理

                    </a>

                </li>

            </ul>

        </li>

        <li sec:authorize="hasRole('ROLE_ADMIN')" th:class="${pageType == 'other' ? 'active open' : ''}">

            <a href="javascript:;">

                <i class="icon-cogs"></i>

                <span class="title">常规设置</span>

                <span th:if="${pageType == 'other'}" class="selected"></span>

                <span th:class="${pageType == 'other' ? 'arrow open' : 'arrow'}"></span>

            </a>

            <ul class="sub-menu" th:style="${pageType == 'other' ? 'display: block;' : ''}">

                <!--<li>-->

                    <!--<a href="javascript:;">-->

                        <!--配置信息-->

                    <!--</a>-->

                <!--</li>-->

                <li>

                    <a th:href="@{/admin/intro/edit}">

                        课程简介

                    </a>

                </li>

                <li>

                    <a th:href="@{/admin/slideshow/list}">

                        图片管理

                    </a>

                </li>

                <!--<li>-->

                    <!--<a href="#">-->

                        <!--在线考试系统管理-->

                    <!--</a>-->

                <!--</li>-->

                <!--<li>-->

                    <!--<a href="#">-->

                        <!--课程特色-->

                    <!--</a>-->

                <!--</li>-->

                <!--<li>-->

                    <!--<a href="#">-->

                        <!--底部信息-->

                    <!--</a>-->

                <!--</li>-->

                <!--<li>-->

                    <!--<a th:href="@{/admin/comment/list}">-->

                        <!--留言管理-->

                    <!--</a>-->

                <!--</li>-->

            </ul>

        </li>

        <li sec:authorize="hasRole('ROLE_ADMIN')" th:class="${pageType == 'user' ? 'active open' : ''}">

            <a class="active" th:href="@{/admin/user/list}">

                <i class="icon-user"></i>

                <span class="title">用户管理</span>

                <span th:if="${pageType == 'user'}" class="selected"></span>

                <span th:class="${pageType == 'user' ? 'arrow open' : 'arrow'}"></span>

            </a>

            <ul class="sub-menu" th:style="${pageType == 'user' ? 'display: block;' : ''}">

                <li>

                    <a th:href="@{/admin/user/edit}">

                        添加用户

                    </a>

                </li>

                <li>

                    <a th:href="@{/admin/user/list}">

                        用户管理

                    </a>

                </li>

            </ul>

        </li>

    </ul>

    <!-- END SIDEBAR MENU -->

</div>

<!-- END SIDEBAR -->
</body>
</html>