<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common-head(links)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>广东海洋大学 - 数字信号处理</title>
    <link rel="stylesheet" th:href="@{/static/css/app.css}">
    <th:block th:if="${links!=null}" th:replace="${links}"></th:block>
</head>

<head th:fragment="common-noarg-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>广东海洋大学 - 数字信号处理</title>
    <link rel="stylesheet" th:href="@{/static/css/app.css}">
</head>
