<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="header" th:fragment="header">
    <div class="header-logo"></div>
    <div class="header-navbar">
        <ul class="nav">
            <li>
                <a th:href="@{/}">首页</a>
            </li>
            <li class="nav-item" th:each="cls : ${classList}">
                <a th:href="@{'/article/class/' + ${cls.id}}" th:text="${cls.className}"></a>
                <ul class="child-nav">
                    <li th:each="item : ${cls.articleList}">
                        <a th:href="@{'/article/' + ${item.id}}" th:title="${item.title}" th:text="${item.title}"></a>
                    </li>
                </ul>
            </li>
            <li>
                <a target="_blank" th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':9998/bbs'} ">互动平台</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>