<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->

<!--[if !IE]><!--> <html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- BEGIN FORM-->

<form th:fragment="news-form(action)" th:action="${action}" th:object="${model}" th:method="post" class="form-horizontal form-bordered form-row-stripped">

    <div class="control-group">

        <label class="control-label">所属栏目<span class="required">*</span></label>

        <div class="controls">

            <select class="m-wrap" name="classId" th:field="*{classId}">

                <option th:each="newsClass : ${classList}" th:value="${newsClass.id}" th:text="${newsClass.className}"></option>

            </select>

        </div>

    </div>

    <div class="control-group">

        <label class="control-label">文章标题<span class="required">*</span></label>

        <div class="controls">

            <input name="title" type="text" class="m-wrap span12" th:value="*{title}">

        </div>

    </div>

    <div class="control-group">

        <label class="control-label">来源<span class="required">*</span></label>

        <div class="controls">

            <label class="radio">

                <div class="radio"><span><input type="radio" name="source" value="0" th:field="*{source}" checked></span></div>

                原创

            </label>

            <label class="radio">

                <div class="radio"><input type="radio" name="source" value="1" th:field="*{source}"></div>

                转载

            </label>

        </div>

    </div>

    <div class="control-group">

        <label class="control-label">作者<span class="required">*</span></label>

        <div class="controls">

            <input type="text" class="m-wrap span12" name="author" th:value="*{author}">

        </div>

    </div>

    <div class="control-group">

        <label class="control-label">文章内容<span class="required">*</span></label>

        <div class="controls">

            <textarea name="content" id="content-textarea" th:value="*{content}"></textarea>

        </div>

    </div>

    <div class="form-actions">

        <button type="submit" class="btn blue"><i class="icon-ok"></i> 保存</button>

        <button type="button" class="btn" onclick="history.go(-1)">取消</button>

    </div>

</form>

<!-- END FORM-->
</body>
</html>