<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{/home/_layout/common-head::common-noarg-head}">
</head>
<body>
<div th:replace="~{/home/_layout/header::header}"></div>
<div class="container">
    <div class="page-content-top">
        <div class="section-bg"></div>
        <h1>互动平台</h1>
    </div>
    <div class="page-content">
        <div class="left-page-content">
            <div class="nav-section">
                <div class="section-bg"></div>
                <ul>
                    <li>
                        <a th:href="@{/comment}">互动平台</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-page-content">
            <div class="bread-nav">
                <ul>
                    <li>
                        <a th:href="@{/}">首页</a>&nbsp;>&nbsp;
                    </li>
                    <li>
                        <a th:href="@{/comment}">互动平台</a>
                    </li>
                </ul>
            </div>
            <div class="comment-detail-section">
                <div class="section-head">
                    <h1 th:text="'话题：' + ${comment.title}"></h1>
                </div>
                <ul class="comment-detail-list">
                    <li th:each="item : ${comment.chiCommList}">
                        <div class="comment-content" th:text="${item.content}"></div>
                        <p class="comment-msg" th:text="${item.author} + ' ' + ${item.createDt}"></p>
                    </li>
                    <li>
                        <div class="comment-content" th:text="${comment.content}"></div>
                        <p class="comment-msg" th:text="${comment.author} + ' ' + ${comment.createDt}"></p>
                    </li>
                </ul>
            </div>
            <!--<div class="comment-pagination">-->
            <!--<ul class="pagination">-->
            <!--<li>-->
            <!--<a href="#">&laquo;</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#">1</a>-->
            <!--</li>-->
            <!--<li class="active">-->
            <!--<a href="#">2</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#">3</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#">4</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#">&raquo;</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <div class="page-section">
                <div class="section-head">
                    <h1>回复</h1>
                </div>
                <div class="section-content">
                    <form class="section-form" th:action="@{'/comment/' + ${comment.id}}" th:method="post" th:object="${model}">
                        <input type="hidden" name="title" th:value="${comment.title}">
                        <div class="form-group">
                            <label for="author" class="control-label">姓名</label>
                            <input type="text" class="form-control" id="author" name="author" placeholder="姓名" th:field="*{author}">
                            <span th:if="${errors != null && errors['author'] != null}" class="error">必填</span>
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label">电子邮箱</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="电子邮箱" th:field="*{email}">
                            <span th:if="${errors != null && errors['email'] != null}" class="error">必填</span>
                        </div>
                        <div class="form-group">
                            <label for="content" class="control-label">回复内容</label>
                            <textarea class="form-control" name="content" id="content" placeholder="回复内容" th:field="*{content}"></textarea>
                            <span th:if="${errors != null && errors['content'] != null}" class="error">必填</span>
                        </div>
                        <div class="form-group">
                            <div class="form-btn-group">
                                <button type="submit">提交</button>
                                <button type="reset">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div th:replace="~{/home/_layout/footer::footer}"></div>
<th:block th:include="~{/home/_layout/common-js::common-noarg-js}">
</th:block>
</body>
</html>