<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{/home/_layout/common-head::common-noarg-head}">
</head>
<body>
<div th:replace="~{/home/_layout/header::header}"></div>
<div class="container">
    <div class="page-content-top">
        <div class="section-bg"></div>
        <h1>作业提交</h1>
    </div>
    <div class="page-content">
        <div class="left-page-content">
            <div class="nav-section">
                <div class="section-bg"></div>
                <ul>
                    <li>
                        <a th:href="@{/resource}">资源平台</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://127.0.0.1/bbs/forum.php">互动平台</a>
                    </li>
                    <li>
                        <a th:href="@{/homework}">作业提交</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-page-content">
            <div class="bread-nav">
                <ul>
                    <li>
                        <a th:href="@{/index}">首页</a>&nbsp;>&nbsp;
                    </li>
                    <li>
                        <a th:href="@{/homework}">作业提交</a>&nbsp;>&nbsp;
                    </li>
                    <li>
                        <a th:href="@{'/homework/' + ${model.id}}">作业详情</a>
                    </li>
                </ul>
            </div>
            <div class="page-section">
                <div class="section-head">
                    <h1 th:text="${model.title}"></h1>
                </div>
                <div class="section-content" th:utext="${model.content}"></div>
            </div>

            <div class="page-section" style="margin-top: 20px;">
                <div class="section-content">
                    <a href="javascript:;" class="file-upload">提交作业
                        <form id="homework-form" th:action="@{'/homework/upload/' + ${model.id}}" th:method="post" enctype="multipart/form-data">
                        <input type="file" name="file" id="homework-upload">
                        </form>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div th:replace="~{/home/_layout/footer::footer}"></div>
<th:block th:include="~{/home/_layout/common-js::common-js(~{::script})}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var errors = /*[[${errors}]]*/ '';
        /*]]>*/
    </script>
    <script>
        if(errors){
            alert(errors);
        }

        $('#homework-upload').change(function() {
            if($(this).val()){
                $('#homework-form').submit();
            }
        });
    </script>
</th:block>
</body>
</html>