<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="~{home/_layout/common-head::common-noarg-head}">
</head>
<body>
<div th:replace="~{home/_layout/header::header}"></div>
<div class="container">
    <div class="page-content-top">
        <div class="section-bg"></div>
        <h1>作业提交</h1>
    </div>
    <div class="page-content">
        <div class="left-page-content">
            <div class="nav-section">
                <div class="section-bg"></div>
                <ul>
                    <li sec:authorize="!isAuthenticated()">
                        <a th:href="@{/login}">登录</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://127.0.0.1/bbs/forum.php">互动平台</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/resource}">资源平台</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/homework}">作业提交</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_TEACHER')">
                        <a th:href="@{/admin}" target="_blank">后台管理系统</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">注销（<span sec:authentication="name"></span>）</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-page-content">
            <div class="bread-nav">
                <ul>
                    <li>
                        <a th:href="@{/index}">首页</a>&nbsp;>&nbsp;
                    </li>
                    <li>
                        <a th:href="@{/homework}">作业提交</a>
                    </li>
                </ul>
            </div>
            <div class="table-section">
                <table class="table-list">
                    <thead>
                    <tr>
                        <th>标题</th>
                        <th>发布人</th>
                        <th>发布时间</th>
                        <th>截止时间</th>
                        <th>状态</th>
                        <th>分数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${homeworkList1}">
                        <td>
                            <a th:href="@{'/homework/' + ${item.id}}" th:title="${item.title}" th:text="${item.title}"></a>
                        </td>
                        <td th:text="${item.user.name}"></td>
                        <td th:text="${item.createDt}"></td>
                        <td th:text="${item.endDt}"></td>
                        <td>已提交</td>
                        <td th:if="${item.homeworkSubmit.score == null}">未评分</td>
                        <td th:unless="${item.homeworkSubmit.score == null}" th:text="${item.homeworkSubmit.score}"></td>
                    </tr>
                    <tr th:each="item : ${homeworkList2}">
                        <td>
                            <a th:href="@{'/homework/' + ${item.id}}" th:title="${item.title}" th:text="${item.title}"></a>
                        </td>
                        <td th:text="${item.user.name}"></td>
                        <td th:text="${item.createDt}"></td>
                        <td th:text="${item.endDt}"></td>
                        <td th:text="${item.timeout == true ? '过期' : '未过期'}"></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div th:replace="~{home/_layout/footer::footer}"></div>
<th:block th:include="~{home/_layout/common-js::common-noarg-js}">
</th:block>
</body>
</html>