<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="~{home/_layout/common-head::common-noarg-head}">
</head>
<body>
<div th:replace="~{home/_layout/header::header}"></div>
<div class="container">
    <div class="page-content-top">
        <div class="section-bg"></div>
        <h1 th:text="${model.className}"></h1>
    </div>
    <div class="page-content">
        <div class="left-page-content">
            <div class="nav-section">
                <div class="section-bg"></div>
                <ul th:replace="~{home/_layout/component::entry}"></ul>
            </div>
            <div class="link-section">
                <div class="section-head">
                    <h1>新闻类别</h1>
                </div>
                <div class="section-content">
                    <ul>
                        <li th:each="cls : ${newsClassList}">
                            <a th:href="@{'/' + ${type} + '/class/' + ${cls.id}}" th:text="${cls.className}" th:title="${cls.className}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-page-content">
            <div class="bread-nav">
                <ul>
                    <li>
                        <a th:href="@{/index}">首页</a>&nbsp;>&nbsp;
                    </li>
                    <li>
                        <a th:href="@{'/news/class/' + ${model.id}}" th:text="${model.className}"></a>
                    </li>
                </ul>
            </div>
            <div class="page-section">
                <div class="section-head">
                    <h1 th:text="${model.className}"></h1>
                </div>
                <div class="section-content">
                    <ul>
                        <li th:each="news : ${newsList}">
                            <a th:href="@{'/news/' + ${news.id}}" th:title="${news.title}" th:text="${news.title}"></a>
                            <span th:text="${#strings.substring(news.createDt,0,10)}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div th:replace="~{home/_layout/footer::footer}"></div>
<th:block th:include="~{home/_layout/common-js::common-noarg-js}">
</th:block>
</body>
</html>